.menuContainer {
    background: #b71c1c;
    width: 100vw;
    height: 8vh;
    border-radius: 2px;
    position: relative;
}

.listDecoration {
    
    list-style: none;
    display: inline-flex;
    color: white;
    position: relative;

}

.listDecoration > ol {
    text-align: center;
    width: auto;
    margin-left: 20px;
    border-radius: 4px;
    position: relative;
} 

ol:hover {
    cursor: pointer;
    text-decoration: underline;
    text-align: justify;
    transform: scale(1.1,1);
}